<section>
  <div class="example-label">Basic tooltip</div>
  <mat-toolbar>
    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <span>My App</span>
  </mat-toolbar>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">Multi-row toolbar</div>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Custom Toolbar</span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Third Line</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">Toolbar overview</div>
  <mat-toolbar>
    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <span>My App</span>
  </mat-toolbar>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">Toolbar with just text</div>
  <mat-toolbar>
    <span>My Application</span>
  </mat-toolbar>
</section>
