<section>
  <div class="example-label">.mat-display-large</div>
  <h1 class="mat-display-large">20 Bold</h1>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">.mat-display-medium</div>
  <h2 class="mat-display-medium">18 Bold</h2>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">.mat-display-small</div>
  <h3 class="mat-display-small">16 Bold</h3>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">.mat-headline-large</div>
  <h4 class="mat-headline-large">16 Semibold</h4>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">.mat-headline-medium</div>
  <h5 class="mat-headline-medium">14 Bold</h5>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">.mat-headline-small</div>
  <h6 class="mat-headline-small">14 Bold</h6>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">.mat-title-large</div>
  <p class="mat-title-large">14 Bold</p>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">.mat-title-medium</div>
  <p class="mat-title-medium">14 Medium</p>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">.mat-title-small</div>
  <p class="mat-title-small">14 Medium</p>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">.mat-body-large</div>
  <body class="mat-body-large">
    14 Bold
  </body>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">.mat-body-medium</div>
  <body class="mat-body-medium">
    14 Medium
  </body>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">.mat-body-small</div>
  <body class="mat-body-small">
    13 Medium
  </body>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">.mat-label-large</div>
  <label class="mat-label-large">13 Medium</label>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">.mat-label-medium</div>
  <label class="mat-label-medium">13 Medium</label>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">.mat-label-small</div>
  <label class="mat-label-small">12px Medium</label>
</section>
