html,
body {
  height: 100%;
}
body {
  margin: 0;
}

:root {
  /*colors*/
  --black: #000000;
  --white: #ffffffff;
  --squid-ink: #172b4d;
  --dark-squid-ink: #172b4d99;
  --violet-blue: #3250a2;
  --anti-flash-white: #eeecef;
  --neon-silver: #cbcbcb;
  --lavender-mist: #d5e1ff;
  --pale-aqua: #cad3e7;
  --button-hover-pale-aqua: #cad3e74d;
  --button-hover-dark-blue: #263e80;
  --disabled-button-container-color: #cbd3e8;
  --disabled-button-text-color: #acb8d9;
  --light-grey: #e5e5e5;
  --error-red: #c74538;
  --card-shadow: #00000026;
  --jungle-green: #2aba7d;
  --checkbox-grey: #bcbcbc;
  --list-option-radio-grey: #d1cac6;
  --tooltip-background-color: #222222;
  --list-hover-color: #edeff1;
  --manu-hover-background-color: #f2f2f2;
  --accordion-hover-background-color: var(--accordion-hover-background-color);

  /*typography*/
  --font-family: "Raleway";
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --font-size: 14px;
  --chip-font-size: 13px;
  --button-icon-font-size: 18px;
  --line-height: 16px;
  --card-title-font-size: 16px;

  /*button size*/
  --button-shape: 4px;
  --button-outline-width: 2px;
  --outlined-button-horizontal-padding: 15px;
  --button-horizontal-padding: 17px;
  --button-vertical-padding: 20px;
  --button-height: 44px;
  --button-fab-size: 36px;
  --button-mini-fab-size: 26px;

  /*card size*/
  --card-width: 434px;
  --simple-card-height: 52px;
  --card-border-radius: 12px;
  --card-img-border-radius: 4px;
  --card-button-horizontal-padding: 30px;
  --card-button-right-padding: 20px;
  --card-button-vertical-padding: 34px;

  /*input size*/
  --placeholder-font-size: 14px;
  --input-text-font-size: 12px;
  --input-border-width: 1px;
  --input-border-radius: 4px;
  --input-box-with: 275px;
  --input-box-height: 40px;
  --input-box-width: 275px;

  /*badge size*/
  --badge-font-size: 12px;

  /*checkbox size*/
  --cheeckbox-height: 14px;
  --cheeckbox-width: 14px;

  /*list size*/
  --spacing-small: 8px;
  --spacing-medium: 16px;

  /*divider size*/
  --divider-width: 1px;
  --divider-length: 100%;
  /************************************ BUTTONS ************************************/

  /*basic*/
  --mdc-text-button-label-text-color: var(--violet-blue);

  --mdc-text-button-label-text-weight: var(--font-weight-bold);
  --mdc-text-button-label-text-font: var(--font-family);
  --mdc-text-button-label-text-size: var(--font-size);

  --mdc-text-button-container-height: var(--button-height);
  --mdc-text-button-container-shape: var(--button-shape);
  /* --mat-text-button-horizontal-padding: var(--button-horizontal-padding); */

  --mat-text-button-state-layer-color: var(--button-hover-pale-aqua);

  --mdc-text-button-disabled-label-text-color: rgba(50, 80, 162, 0.4);

  /*stroked*/
  --mdc-outlined-button-container-color: var(--white);
  --mdc-outlined-button-label-text-color: var(--violet-blue);
  --mdc-outlined-button-outline-color: var(--violet-blue);
  --mdc-outlined-button-outline-width: var(--button-outline-width);

  --mdc-outlined-button-label-text-weight: var(--font-weight-bold);
  --mdc-outlined-button-label-text-font: var(--font-family);
  --mdc-outlined-button-label-text-size: var(--font-size);

  --mdc-outlined-button-container-height: var(--button-height);
  --mdc-outlined-button-container-shape: var(--button-shape);
  --mat-outlined-button-horizontal-padding: var(
    --outlined-button-horizontal-padding
  );

  --mat-outlined-button-state-layer-color: var(--button-hover-pale-aqua);

  --mdc-outlined-button-disabled-label-text-color: rgba(50, 80, 162, 0.4);
  --mdc-outlined-button-disabled-outline-color: rgba(50, 80, 162, 0.4);

  /*flat*/
  --mdc-filled-button-container-color: var(--violet-blue);
  --mdc-filled-button-label-text-color: var(--white);

  --mdc-filled-button-label-text-weight: var(--font-weight-bold);
  --mdc-filled-button-label-text-font: var(--font-family);
  --mdc-filled-button-label-text-size: var(--font-size);

  --mdc-filled-button-container-height: var(--button-height);
  --mdc-filled-button-container-shape: var(--button-shape);
  --mat-filled-button-horizontal-padding: var(--button-horizontal-padding);
  --mdc-filled-button-disabled-container-color: rgba(50, 80, 162, 0.25);
  --mdc-filled-button-disabled-label-text-color: rgba(50, 80, 162, 0.4);

  --mat-filled-button-state-layer-color: var(--button-hover-dark-blue);
  --mat-filled-button-hover-state-layer-opacity: 1;

  /*icon*/
  --mdc-icon-button-icon-color: var(--squid-ink);
  --mdc-icon-button-disabled-icon-color: rgba(50, 80, 162, 0.4);
  --mdc-icon-button-state-layer-size: 34px;
  /*FAB*/

  --mdc-fab-container-elevation-shadow: none;
  --mdc-fab-focus-container-elevation-shadow: none;
  --mdc-fab-hover-container-elevation-shadow: none;
  --mdc-fab-pressed-container-elevation-shadow: none;

  --mat-fab-disabled-state-foreground-color: rgba(50, 80, 162, 0.4);
  --mat-fab-disabled-state-container-color: rgba(50, 80, 162, 0.25);

  /*mini FAB*/
  --mdc-fab-small-container-elevation-shadow: none;
  --mdc-fab-small-focus-container-elevation-shadow: none;
  --mdc-fab-small-hover-container-elevation-shadow: none;
  --mdc-fab-small-pressed-container-elevation-shadow: none;

  --mat-fab-small-disabled-state-foreground-color: rgba(50, 80, 162, 0.4);
  --mat-fab-small-disabled-state-container-color: rgba(50, 80, 162, 0.25);

  /*extendedFAB*/
  --mdc-extended-fab-label-text-size: var(--font-size);
  --mdc-extended-fab-label-text-font: var(--font-family);
  --mdc-extended-fab-label-text-weight: var(--font-weight-bold);

  --mdc-extended-fab-container-shape: var(--button-shape);

  --mdc-extended-fab-container-elevation-shadow: none;
  --mdc-extended-fab-focus-container-elevation-shadow: none;
  --mdc-extended-fab-hover-container-elevation-shadow: none;
  --mdc-extended-fab-pressed-container-elevation-shadow: none;

  --mat-fab-disabled-state-foreground-color: rgba(50, 80, 162, 0.4);
  --mat-fab-disabled-state-container-color: rgba(50, 80, 162, 0.25);

  /*card chip*/
  --mdc-chip-container-shape-radius: var(--button-shape);
  --mdc-chip-label-text-color: var(--squid-ink);
  --mdc-chip-label-text-font: var(--font-family);
  --mdc-chip-label-text-size: var(--chip-font-size);
  --mdc-chip-label-text-weight: var(--font-weight-medium);
  --mdc-chip-outline-width: 1px;
  --mdc-chip-outline-color: var(--squid-ink);

  /*tooltip*/
  --mdc-plain-tooltip-container-color: var(--tooltip-background-color);
  --mdc-plain-tooltip-supporting-text-color: var(--white);
  --mdc-plain-tooltip-supporting-text-line-height: var(--line-height);
  --mdc-plain-tooltip-supporting-text-font: var(--font-family);
  --mdc-plain-tooltip-supporting-text-size: 13px;
  --mdc-plain-tooltip-supporting-text-weight: var(--font-weight-medium);
  --mdc-plain-tooltip-container-shape: 3px;
  --mdc-plain-tooltip-supporting-text-padding: 8px 14px 0;

  /*list*/
  --mat-ripple-color: transparent !important;
  --mdc-list-list-item-container-color: white;
  --mdc-list-list-item-hover-state-layer-color: var(--list-hover-color);
  --mdc-list-list-item-focus-state-layer-color: var(--list-hover-color);
  --mdc-list-list-item-hover-state-layer-opacity: 1;
  --mdc-list-list-item-focus-state-layer-opacity: 1;

  /*menu*/
  --mat-menu-item-icon-color: var(--squid-ink);
  --mat-menu-item-hover-state-layer-color: var(--manu-hover-background-color);
  --mat-menu-item-focus-state-layer-color: var(--manu-hover-background-color);
  --mat-menu-container-color: var(--white);
  --mat-menu-item-label-text-font: var(--font-family);
  --mat-menu-item-label-text-size: var(--font-size);
  --mat-menu-item-label-text-color: var(--squid-ink);
  --mat-menu-item-label-text-tracking: 0px;
  --mat-menu-item-label-text-weight: var(--font-weight-medium);
  --mat-menu-container-shape: 12px;
  --mat-menu-item-spacing: 12px;
  --mat-menu-container-min-width: 260px;

  /*snackbar*/
  --mdc-snackbar-container-color: var(--white);
  --mdc-snackbar-container-shape: 12px;
  --mdc-snackbar-supporting-text-color: var(--squid-ink);
  --mdc-snackbar-supporting-text-font: var(--font-family);
  --mdc-snackbar-supporting-text-line-height: 16px;
  --mdc-snackbar-supporting-text-weight: var(--font-weight-semi-bold);
  --mdc-snackbar-supporting-text-size: 16px;

  /*modal*/
  --mat-dialog-actions-padding: 0 28px 24px 28px;
  --mat-dialog-headline-padding: 25px 28px 18px 28px;
  --mat-dialog-content-padding: 28px 28px 28px;
  --mat-dialog-with-actions-content-padding: 44px 28px 24px 28px;
  --mat-dialog-container-min-width: 383px;

  /*accordion*/
  --mat-expansion-container-background-color: var(--white);
  --mat-expansion-header-hover-state-layer-color: #f1f2f4;
  --mat-expansion-header-focus-state-layer-color: var(--white);
  --mat-expansion-header-text-color: var(--squid-ink);
  --mat-expansion-header-indicator-color: var(--squid-ink);
  --mat-expansion-header-text-font: var(--font-family);
  --mat-expansion-header-description-color: var(--squid-ink);
  --mat-expansion-container-text-font: var(--font-family);

  --mdc-filled-text-field-container-color: var(--white);
}

.mat-icon {
  font-weight: var(--font-weight-normal);
  font-size: var(--button-icon-font-size);
  display: flex !important;
  justify-content: center;
  align-items: center;
  line-height: 22px !important;
  height: 24px !important;
  width: 24px !important;
  fill: currentColor;
  overflow: hidden;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}

.mat-mdc-extended-fab > .mat-icon,
.mat-mdc-extended-fab > .material-icons {
  margin-right: 4px !important;
}
.mat-mdc-fab {
  max-width: var(--button-fab-size);
  max-height: var(--button-fab-size);

  --mdc-fab-container-shape: var(--button-shape);

  --mdc-fab-container-color: var(--lavender-mist);
  --mat-fab-foreground-color: var(--squid-ink);
}

.mat-mdc-mini-fab {
  --mdc-fab-small-container-shape: var(--button-shape);
  max-width: var(--button-mini-fab-size);
  max-height: var(--button-mini-fab-size);

  padding: 2px 0;

  --mdc-fab-small-container-color: var(--lavender-mist);
  --mat-fab-small-foreground-color: var(--squid-ink);
}

.mat-mdc-extended-fab {
  --mdc-fab-container-color: var(--white) !important;

  max-width: none !important;
  max-height: none !important;
  --mdc-extended-fab-container-height: var(--button-height) !important;

  --mdc-fab-label-text-weight: var(--font-weight-bold) !important;
  --mdc-fab-label-text-font: var(--font-family) !important;
  --mdc-fab-label-text-size: var(--font-size) !important;

  --mat-fab-state-layer-color: var(--button-hover-pale-aqua) !important;
  --mat-fab-hover-state-layer-opacity: 1;

  --mdc-extended-fab-disabled-layer-color: var(--white) !important;

  padding-left: var(--button-horizontal-padding) !important;
  padding-right: var(--button-horizontal-padding) !important;
  padding-top: var(--button-vertical-padding) !important;
  padding-bottom: var(--button-vertical-padding) !important;

  border: var(--violet-blue) 2px solid !important;
  line-height: var(--line-height) !important;
  color: var(--violet-blue) !important;
}

.mat-mdc-extended-fab[disabled] {
  background-color: unset !important;
  color: var(--disabled-button-text-color) !important;
  border: 2px solid var(--disabled-button-container-color) !important;
}

button.mat-mdc-outlined-button,
button.mat-mdc-filled-button,
button.mat-mdc-stroked-button {
  box-sizing: border-box;
  border-color: transparent;
}

button.mat-mdc-outlined-button:hover,
button.mat-mdc-filled-button:hover,
button.mat-mdc-stroked-button:hover {
  background-color: var(--mat-outlined-button-state-layer-color) !important;
}

.mdc-button:hover {
  background-color: var(--mat-outlined-button-state-layer-color) !important;
}
/************************************ CARDS ************************************/
mat-card {
  border: none !important;
  box-shadow: 0px 0px 20px var(--card-shadow) !important;
  border-radius: var(--card-border-radius) !important;
  width: var(--card-width) !important;

  background: var(--white) !important;
  font-family: var(--font-family) !important;
  font-size: var(--font-size) !important;
  font-weight: var(--font-weight-bold) !important;
  color: var(--squid-ink);

  --mat-card-title-text-font: var(--font-family);
  --mat-card-title-text-size: var(--font-size);
  --mat-card-title-text-weight: var(--font-weight-bold);

  --mat-card-subtitle-text-color: var(--squid-ink);
  --mat-card-subtitle-text-font: var(--font-family);
  --mat-card-subtitle-text-size: var(--font-size);
  --mat-card-subtitle-text-weight: var(--font-weight-medium);
}

.mat-mdc-card-header {
  padding-left: 30px !important;
  padding-top: 5px !important;
  display: flex !important;
  width: 100% !important;
  display: flex !important;
}

.mat-mdc-card-subtitle ~ .mat-mdc-card-title,
.mat-mdc-card-title ~ .mat-mdc-card-subtitle,
.mat-mdc-card-header .mat-mdc-card-header-text .mat-mdc-card-title,
.mat-mdc-card-header .mat-mdc-card-header-text .mat-mdc-card-subtitle,
.mat-mdc-card-title-group .mat-mdc-card-title,
.mat-mdc-card-title-group .mat-mdc-card-subtitle {
  padding-top: 17px !important;
}

.mat-mdc-card-actions {
  display: flex !important;
  flex-direction: row !important;
  box-sizing: content-box !important;
  padding-left: var(--card-button-horizontal-padding) !important;
  padding-right: var(--card-button-right-padding) !important;
  padding-top: var(--card-button-vertical-padding) !important;
  padding-bottom: var(--card-button-vertical-padding) !important;
}

.mat-mdc-card-actions button {
  margin-right: 10px;
}
.mat-mdc-card-content > :last-child:not(.mat-mdc-card-footer) {
  color: var(--squid-ink) !important;
  font-size: var(--font-size) !important;
  font-weight: var(--font-weight-medium) !important;
  font-family: var(--font-family) !important;
}

.mdc-card__media {
  max-width: 375px;
  max-height: 168px;
  display: flex !important;
  border-radius: var(--card-img-border-radius) !important;
}

.mat-mdc-card-content {
  display: flex !important;
  flex-direction: column !important;
  box-sizing: content-box !important;
  padding-left: var(--card-button-horizontal-padding) !important;
  padding-right: var(--card-button-horizontal-padding) !important;
  padding-top: 19px !important;
  gap: 28px !important;

  color: var(--squid-ink) !important;
  font-size: var(--font-size) !important;
  font-weight: var(--font-weight-medium) !important;
  font-family: var(--font-family) !important;
}
.mat-mdc-card-footer {
  display: flex !important;
  flex-direction: row !important;
  box-sizing: content-box !important;
  padding-left: var(--card-button-horizontal-padding) !important;
  padding-top: 35px !important;
  padding-bottom: 24px !important;
}

/************************************ INPUT ************************************/
.mat-mdc-form-field {
  --mdc-outlined-text-field-container-shape: var(
    --input-border-radius
  ) !important;
  --mdc-outlined-text-field-container-width: 200px !important;
  --mat-form-field-container-text-line-height: 16px !important;
  --mat-form-field-container-max-height: 40px !important;

  /*Label*/
  --mdc-outlined-text-field-label-text-color: var(--dark-squid-ink) !important;
  --mdc-outlined-text-field-label-text-size: var(
    --placeholder-font-size
  ) !important;
  --mdc-outlined-text-field-label-text-weight: var(--font-weight-medium);
  --mdc-outlined-text-field-label-text-font: var(--font-family) !important;
  --mdc-outlined-text-field-disabled-label-text-color: var(
    --light-grey
  ) !important;
  --mdc-outlined-text-field-error-label-text-color: var(
    --dark-squid-ink
  ) !important;
  --mdc-outlined-text-field-error-hover-label-text-color: var(
    --error-red
  ) !important;

  /*Input text*/
  --mdc-outlined-text-field-input-text-color: var(--squid-ink) !important;

  /*Placeholder*/
  --mdc-outlined-text-field-input-text-placeholder-color: var(
    --dark-squid-ink
  ) !important;

  /*Border colors*/
  --mdc-outlined-text-field-outline-color: var(--light-grey) !important;
  --mdc-outlined-text-field-focus-outline-color: var(--violet-blue) !important;
  --mdc-outlined-text-field-hover-outline-color: var(--violet-blue) !important;
  --mdc-outlined-text-field-disabled-outline-color: var(
    --light-grey
  ) !important;
  --mdc-outlined-text-field-error-outline-color: var(--light-grey) !important;
  --mdc-outlined-text-field-error-focus-outline-color: var(
    --error-red
  ) !important;
  --mdc-outlined-text-field-error-hover-outline-color: var(
    --violet-blue
  ) !important;

  --mat-tree-node-min-height: 40px !important;
  --mat-form-field-filled-with-label-container-padding-bottom: 12px !important;
  --mat-form-field-container-vertical-padding: 5px !important;
}

.mat-mdc-text-field-wrapper {
  text-align: center !important;
  min-width: var(--input-box-width) !important;
}

.mdc-text-field-outline {
  --mdc-outlined-text-field-outline-width: var(--border-width) !important;
}

.mat-mdc-form-field .mdc-notched-outline__notch {
  border-left: none !important;
}

.mdc-text-field--outlined .mat-mdc-form-field-infix {
  font-size: var(--placeholder-font-size) !important;
  font-weight: var(--font-weight-medium) !important;
  font-family: var(--font-family) !important;
}

.mat-mdc-form-field-flex {
  display: flex !important;
  align-items: center !important;
}

.mat-mdc-form-field-infix {
  flex: 1 !important;
  display: flex !important;
}

.mat-mdc-form-field-error-wrapper,
.mat-mdc-form-field-hint-wrapper {
  padding: 0 !important;
}

.mat-mdc-form-field-subscript-wrapper {
  font-family: var(--font-family) !important;
  font-size: var(--input-text-font-size) !important;
  font-weight: var(--font-weight-medium) !important;
  color: var(--dark-squid-ink) !important;
}

.mat-mdc-form-field-hint-wrapper {
  font-family: var(--font-family) !important;
  font-size: var(--input-text-font-size) !important;
  letter-spacing: var(--mat-form-field-subscript-text-tracking) !important;
  font-weight: var(--font-weight-medium) !important;
  color: var(--dark-squid-ink) !important;
}

.mat-mdc-form-field-error {
  display: flex !important;
  padding-top: 7.5px !important;
  color: var(--error-red) !important;
  font-size: 12px !important;
}

.mdc-text-field {
  padding: 0 4px;
}
.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
  width: max(12px, var(--mdc-outlined-text-field-container-shape)) !important;
}

.mdc-text-field--outlined {
  padding-left: 14px !important;
  padding-right: 4px !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-text-field__input {
  height: 30px !important;
}
/************************************ BADGE ************************************/

.mat-badge-large .mat-badge-content {
  background-color: var(--jungle-green) !important;
  font-family: var(--font-family) !important;
  font-size: var(--badge-font-size) !important;
  color: white !important;
  font-weight: var(--font-weight-normal) !important;

  width: auto !important;
  display: grid !important;
  text-align: center !important;
  align-items: center !important;
  right: -25px;
}

.mat-badge-medium .mat-badge-content {
  background-color: var(--jungle-green) !important;
  font-family: var(--font-family) !important;
  font-size: var(--badge-font-size) !important;
  color: white !important;
  font-weight: var(--font-weight-normal) !important;

  width: auto !important;
  height: 14px !important;
  top: 5px !important;
}

.mat-badge-small .mat-badge-content {
  background-color: var(--jungle-green) !important;

  top: 4px !important;
  height: 1px !important;
}

/* .mat-badge-medium.mat-badge-overlap .mat-badge-content {
  top: 1px !important;
} */

/************************************ CHECKBOX ************************************/

.mat-accent.mat-mdc-checkbox {
  --mdc-checkbox-selected-focus-icon-color: var(--violet-blue);
  --mdc-checkbox-selected-hover-icon-color: var(--violet-blue);
  --mdc-checkbox-selected-icon-color: var(--violet-blue);
  --mdc-checkbox-selected-focus-state-layer-color: var(
    --checkbox-grey
  ) !important;
  --mdc-checkbox-selected-hover-state-layer-color: var(--checkbox-grey);

  --mdc-checkbox-unselected-focus-icon-color: var(--checkbox-grey);
  --mdc-checkbox-unselected-hover-icon-color: var(--checkbox-grey);
  --mdc-checkbox-unselected-pressed-state-layer-color: var(--checkbox-grey);

  --mat-checkbox-disabled-label-color: var(--pale-aqua);
  --mdc-checkbox-disabled-selected-icon-color: var(--pale-aqua);
}

.mat-mdc-checkbox .mat-internal-form-field {
  --mat-checkbox-label-text-color: var(--squid-ink);
  --mat-checkbox-label-text-font: var(--font-family);
  --mat-checkbox-label-text-line-height: var(--line-height);
  --mat-checkbox-label-text-size: var(--font-size);
  --mat-checkbox-label-text-weight: var(--font-weight-medium);

  --mat-checkbox-label-text-color: var(--squid-ink);
}

.mat-internal-form-field > label {
  padding: unset !important;
}

.mdc-checkbox__background {
  width: var(--cheeckbox-width);
  height: var(--cheeckbox-height);
  border: 1px solid currentColor;
  border-radius: 2px;
}

p {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-medium);
  color: var(--squid-ink);
}
/************************************ RADIO ************************************/
.mat-accent.mat-mdc-radio-button {
  --mdc-radio-selected-focus-icon-color: var(--violet-blue);
  --mdc-radio-selected-hover-icon-color: var(--violet-blue);
  --mdc-radio-selected-icon-color: var(--violet-blue);
  --mdc-radio-selected-pressed-icon-color: var(--violet-blue);
  --mat-radio-checked-ripple-color: var(--pale-aqua);
}

.mat-mdc-radio-button .mat-internal-form-field {
  color: var(--squid-ink) !important;
  font-family: var(--font-family) !important;
  line-height: var(--line-height) !important;
  font-size: var(--font-size) !important;
  font-weight: var(--font-weight-medium) !important;
}
section[_ngcontent-ng-c2708097669] {
  font-family: "Raleway", sans-serif;
}
.mat-radio-group {
  padding-bottom: 23px !important;
}

/************************************ LIST ************************************/
.mdc-list-item__primary-text {
  color: var(--squid-ink) !important;
  font-family: var(--font-family) !important;
  line-height: var(--line-height) !important;
  font-size: 16px !important;
  font-weight: var(--font-weight-medium) !important;
  letter-spacing: 0px !important;
}

.mdc-list-item--with-leading-icon.mdc-list-item {
  display: flex !important;
}

.mdc-list-item.mdc-list-item--with-one-line .mdc-list-item__end {
  padding-left: 490px !important;
}
.mat-accent .mdc-list-item__end {
  --mdc-radio-unselected-icon-color: var(--list-option-radio-grey) !important;
  --mdc-checkbox-unselected-icon-color: var(--checkbox-grey) !important;

  --mdc-radio-unselected-hover-icon-color: var(
    --list-option-radio-grey
  ) !important;
  --mdc-checkbox-unselected-hover-icon-color: var(--checkbox-grey) !important;

  --mdc-checkbox-selected-focus-icon-color: var(--violet-blue);
  --mdc-checkbox-selected-hover-icon-color: var(--violet-blue);
  --mdc-checkbox-selected-icon-color: var(--violet-blue);

  --mdc-radio-selected-focus-icon-color: var(--violet-blue);
  --mdc-radio-selected-hover-icon-color: var(--violet-blue);
  --mdc-radio-selected-icon-color: var(--violet-blue);
  --mdc-radio-selected-pressed-icon-color: var(--violet-blue);
  --mat-radio-checked-ripple-color: var(--violet-blue);
}

.mdc-list-item__secondary-text {
  --mdc-list-list-item-supporting-text-color: var(--squid-ink);
  opacity: 0.75;
  --mdc-list-list-item-supporting-text-font: var(--font-family);
  --mdc-list-list-item-supporting-text-line-height: var(--line-height);
  --mdc-list-list-item-supporting-text-size: 13px;
  --mdc-list-list-item-supporting-text-weight: var(--font-weight-medium);
  letter-spacing: 1px !important;
}
.mdc-list-item--with-leading-icon.mdc-list-item--with-two-lines
  .mdc-list-item__primary-text {
  display: flex !important;
}

.mdc-list-item.mdc-list-item--with-two-lines .mdc-list-item__start {
  display: flex !important;
  margin-top: unset !important;
  width: 31px !important;
  height: 31px !important;
}

.mat-mdc-list-base .mdc-list-item__content {
  z-index: 1 !important;
}
/************************************ DIVIDER ************************************/

.mat-divider {
  --mat-divider-color: var(--light-grey) !important;
  --mat-divider-width: var(--divider-width) !important;
  --mat-divider-height: var(--divider-height) !important;
  --mat-divider-length: var(--divider-length) !important;
  min-width: 543px !important;

  display: inline-block !important;
  vertical-align: middle !important;
  margin-left: 16px !important;
}

/************************************ MENU ************************************/
.mat-mdc-menu-item:not([disabled]):hover {
  border-radius: 3px !important;
}

.mat-mdc-menu-content,
.mat-mdc-menu-content {
  padding: 21px 13px !important;
}

.mat-mdc-menu-item {
  min-height: 40px !important;
  min-width: 260px !important;
}

.cdk-overlay-connected-position-bounding-box:not(:first-of-type) {
  transform: translate(1rem, 0);
}

/* .mat-mdc-menu-item .mat-mdc-menu-submenu-icon {
  display: none;
} */

.mat-mdc-menu-item:has(.material-icons, mat-icon, [matButtonIcon]) {
  display: flex;
  /* flex-direction: row-reverse; */
}

.mat-mdc-menu-submenu-icon {
  fill: transparent !important;
  background-image: url("assets/keyboard_arrow_right.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 16px !important;
  margin-left: 8px !important;
}
/************************************ SNACKBAR ************************************/
.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  min-width: 430px !important;
  min-height: 63px !important;
}
.mat-mdc-snackbar-surface {
  padding-left: unset !important;
  padding-right: unset !important;
}
.mat-mdc-snack-bar-container .mdc-snackbar__label {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mat-mdc-snack-bar-container
  .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
  color: var(--squid-ink) !important;
  --mat-text-button-state-layer-color: var(--squid-ink) !important;
  --mat-text-button-ripple-color: var(--squid-ink) !important;
  --mat-ripple-color: var(--squid-ink) !important;
}
/************************************ DIALOG ************************************/
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0 !important;
}

.mdc-dialog--open .mat-mdc-dialog-surface,
.mdc-dialog--closing .mat-mdc-dialog-surface {
  border-radius: 12px !important;
  background: var(--white) !important;
  box-shadow: 0px 0px 20px #00000026 !important;
  opacity: 1 !important;
}

.mat-mdc-dialog-container .mat-mdc-dialog-title {
  --mdc-dialog-subhead-color: var(--squid-ink);
  --mdc-dialog-subhead-font: var(--font-family);
  --mdc-dialog-subhead-size: var(--font-size);
  --mdc-dialog-subhead-weight: var(--font-weight-semi-bold);
}

.mat-mdc-dialog-container .mat-mdc-dialog-content {
  color: var(--squid-ink) !important;
  --mdc-dialog-supporting-text-font: var(--font-family);
  --mdc-dialog-supporting-text-size: 14px;
  --mdc-dialog-supporting-text-weight: var(--font-weight-medium);
}

ul {
  padding: 17px 28px 17px 28px !important;
}
.mat-mdc-dialog-container .mat-mdc-dialog-title + .mat-mdc-dialog-content {
  max-width: 460px;
}

.mat-mdc-dialog-content > :first-child {
  padding-bottom: 23px;
}
/************************************ ACCORDION ************************************/
.mat-expansion-panel-header-title {
  font-weight: var(--font-weight-bold) !important;
  font-size: 16px !important;
  width: 400px !important;
  margin-right: 150px !important;
}

.mat-expansion-panel-header-description {
  font-weight: var(--font-weight-medium) !important;
  font-size: 14px !important;
}

.mat-expansion-panel-header[aria-disabled="true"]
  .mat-expansion-panel-header-title,
.mat-expansion-panel-header[aria-disabled="true"]
  .mat-expansion-panel-header-description {
  color: rgba(23, 43, 77, 0.4) !important;
}
.mat-expansion-panel-header[aria-disabled="true"]
  .mat-expansion-panel-header-description {
  color: rgba(23, 43, 77, 0.4) !important;
}

.mat-expansion-panel {
  box-shadow: none !important;
  border-block-end: 1px solid #e5e5e5 !important;
  border-radius: 0 !important;
  margin: 0 !important;
}

.mat-expansion-panel:first-child {
  border-block-start: 1px solid #e5e5e5 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--light-grey);
  box-shadow: none !important;
}
.mdc-line-ripple::before,
.mdc-line-ripple::after {
  display: none !important;
}
.mdc-text-field--filled .mdc-floating-label {
  --mdc-filled-text-field-label-text-font: var(--font-family);
  --mdc-filled-text-field-label-text-size: var(--font-size);
  --mdc-filled-text-field-label-text-color: rgba(23, 43, 77, 0.6);
  --mdc-filled-text-field-label-text-weight: var(--font-weight-medium);
}

.mat-mdc-text-field-wrapper:hover .mat-mdc-form-field-focus-overlay {
  --mat-form-field-hover-state-layer-opacity: 0 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--squid-ink) !important;
  font-family: var(--font-family) !important;
  font-size: var(--font-size) !important;
  font-weight: var(--font-weight-regular) !important;
  align-self: center !important;
}

.mat-expansion-panel-content {
  flex-direction: row !important;
  align-content: stretch !important;
  justify-content: space-between !important;
}

.mat-action-row {
  border: none !important;
  padding: unset !important;
}
.mat-mdc-form-field {
  margin-right: 20px;
}

/************************************ PROGRESS BAR ************************************/
.mdc-linear-progress {
  min-width: 800px !important;
  --mdc-linear-progress-active-indicator-color: var(--violet-blue) !important;
}

/************************************ SIDE TOGGLE ************************************/
