<section>
  <div class="example-label">Buffer progress-bar</div>
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</section>

<section>
  <div class="example-label">Determinate progress-bar</div>
  <mat-progress-bar mode="determinate" value="40 "></mat-progress-bar>
</section>

<section>
  <div class="example-label">Indeterminate progress-bar</div>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</section>

<section>
  <div class="example-label">Query progress-bar</div>
  <mat-progress-bar mode="query"></mat-progress-bar>
</section>
