<div class="page-layout">
  <h1>Bsic buttons</h1>
  <app-basic-buttons></app-basic-buttons>

  <h1>Cards</h1>
  <app-card></app-card>

  <h1>Basic input</h1>
  <div class="basic-input-container">
    <app-basic-input></app-basic-input>
    <app-comment></app-comment>
  </div>

  <h1>Badge overview</h1>
  <app-badge></app-badge>

  <h1>Checkbox configuration</h1>
  <app-checkbox></app-checkbox>

  <h1>Radio button</h1>
  <app-radio></app-radio>

  <h1>Tooltip</h1>
  <app-tooltip></app-tooltip>

  <h1>Toolbar - not done</h1>
  <app-toolbar></app-toolbar>

  <h1>List</h1>
  <app-list></app-list>

  <h1>Divider</h1>
  <app-divider></app-divider>

  <h1>Menu</h1>
  <app-menu></app-menu>
</div>
