<div class="page-layout">
  <h1>Bsic buttons</h1>
  <app-basic-buttons></app-basic-buttons>

  <h1>Cards</h1>
  <app-card></app-card>

  <!-- <h1>Select</h1>
  <app-select></app-select> -->

  <h1>Badge overview</h1>
  <app-badge></app-badge>

  <h1>Checkbox configuration</h1>
  <app-checkbox></app-checkbox>

  <h1>Radio button</h1>
  <app-radio></app-radio>

  <h1>Tooltip</h1>
  <app-tooltip></app-tooltip>

  <h1>Toolbar</h1>
  <app-toolbar></app-toolbar>

  <h1>List</h1>
  <app-list></app-list>

  <h1>Divider</h1>
  <app-divider></app-divider>

  <h1>Menu</h1>
  <app-menu></app-menu>

  <h1>Snackbar</h1>
  <app-snackbar></app-snackbar>

  <h1>Modal(Dialog)</h1>
  <app-modal></app-modal>

  <h1>Expansion panel(Accordion)</h1>
  <app-accordion></app-accordion>

  <h1>Progress Bar</h1>
  <app-progress-bar></app-progress-bar>

  <h1>Side Toggle</h1>
  <app-side-toggle></app-side-toggle>

  <h1>Chips</h1>
  <app-chips></app-chips>

  <h1>Basic input</h1>
  <div class="basic-input-container">
    <app-basic-input></app-basic-input>
    <app-comment></app-comment>
  </div>

  <h1>Date Picker</h1>
  <app-date-picker></app-date-picker>

  <h1>Tabs</h1>
  <app-tabs></app-tabs>

  <h1>Sidenav</h1>
  <app-sidenav></app-sidenav>

  <h1>Grid List</h1>
  <app-grid-list></app-grid-list>

  <h1>CDK - Menu</h1>
  <app-cdk-menu></app-cdk-menu>

  <h1>Table</h1>
  <app-table></app-table>

  <h1>Paginator</h1>
  <app-paginator></app-paginator>
</div>
