<section>
  <div class="example-label">Dialog Animations</div>
  <button mat-stroked-button (click)="openDialog('0ms', '0ms')">
    Open dialog without animation
  </button>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <button mat-stroked-button (click)="openDialog('3000ms', '1500ms')">
    Open dialog slowly
  </button>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">
    Dialog with header, scrollable content and actions
  </div>
  <button mat-stroked-button (click)="openDialog2()">Open dialog</button>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">Injecting data when opening a dialog</div>
  <button mat-button (click)="openDialog5()">Basic</button>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">Dialog elements</div>
  <button mat-button (click)="openDialog3()">Basic</button>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">Dialog lunched from a menu</div>
  <button mat-button [matMenuTriggerFor]="menu" #menuTrigger>Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog4()">Open dialog</button>
  </mat-menu>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">Dialog Overview</div>
  <button mat-stroked-button (click)="openDialog6()">Pick one</button>
  @if (animal()) { You chose: <em>{{ animal() }}</em>
  }
</section>
