section {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.example-label {
  font-family: "Raleway", sans-serif;
  display: flex;
  font-size: 14px;
  margin-left: 8px;
  min-width: 300px;
  padding-bottom: 70px;
}

.example-divider {
  padding-top: 20px;
  padding-bottom: 20px;
}
.example-divider {
  padding-top: 20px;
  padding-bottom: 20px;
}
