section {
  display: table;
  margin-left: 30px;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
.mat-divider {
  margin: 10px 0;
}

:root,
:host {
  /*colors*/
  --black: #000000;
  --white: #ffffffff;
  --squid-ink: #172b4d;
  --marian-blue: #263e80;
  --violet-blue: #3250a2;
  --anti-flash-white: #eeecef;
  --neon-silver: #cbcbcb;
  --lavender-mist: #d5e1ff;
  --pale-aqua: #cad3e7;
  --pale-aqua-opacity: #cad3e74d;

  /*typography*/
  /*TO DO: font -famly*/
  --button-font-family: "Raleway";
  --button-font-weight-bold: 700;
  --button-font-weight-semi-bold: 600;
  --button-font-weight-medium: 500;
  --button-font-weight-normal: 400;
  --button-font-size: 14px;
  --button-icon-font-size: 18px;

  /*button size*/
  --button-shape: 4px;
  --button-outline-width: 2px;
  --outlined-button-horizontal-padding: 15px;
  --button-horizontal-padding: 17px;
  --button-vertical-padding: 20px;
  --button-height: 36px;
  --button-fab-size: 36px;
  --button-mini-fab-size: 26px;

  /************************************************************************************/

  /*basic*/
  --mdc-text-button-label-text-color: var(--violet-blue);

  --mdc-text-button-label-text-weight: var(--button-font-weight-bold);
  --mdc-text-button-label-text-font: var(--button-font-family);
  --mdc-text-button-label-text-size: var(--button-font-size);

  --mdc-text-button-container-height: var(--button-height);
  --mdc-text-button-container-shape: var(--button-shape);
  --mat-text-button-horizontal-padding: var(--button-horizontal-padding);

  --mat-text-button-state-layer-color: var(--pale-aqua);
  --mat-text-button-hover-state-layer-opacity: 0.3;

  --mdc-text-button-disabled-label-text-color: rgba(50, 80, 162, 0.4);

  /*raised*/
  --mdc-protected-button-container-color: var(--white);
  --mdc-protected-button-label-text-color: var(--violet-blue);

  --mdc-protected-button-label-text-weight: var(--button-font-weight-bold);
  --mdc-protected-button-label-text-font: var(--button-font-family);
  --mdc-protected-button-label-text-size: var(--button-font-size);

  --mdc-protected-button-container-shape: var(--button-shape);
  --mat-protected-button-horizontal-padding: var(
    --outlined-button-horizontal-padding
  );
  --mdc-protected-button-container-height: var(--button-height);

  --mdc-protected-button-container-elevation-shadow: none;
  --mdc-protected-button-pressed-container-elevation-shadow: none;
  --mdc-protected-button-hover-container-elevation-shadow: none;
  --mdc-protected-button-focus-container-elevation-shadow: none;

  --mat-protected-button-state-layer-color: var(--pale-aqua);
  --mat-protected-button-hover-state-layer-opacity: 0.3;

  --mdc-protected-button-disabled-label-text-color: rgba(50, 80, 162, 0.4);
  --mdc-protected-button-disabled-label-text-opacity: 0.8;
  --mdc-protected-button-disabled-container-color: var(--white);

  /*stroked*/
  --mdc-outlined-button-container-color: var(--white);
  --mdc-outlined-button-label-text-color: var(--violet-blue);
  --mdc-outlined-button-outline-color: var(--violet-blue);
  --mdc-outlined-button-outline-width: var(--button-outline-width);

  --mdc-outlined-button-label-text-weight: var(--button-font-weight-bold);
  --mdc-outlined-button-label-text-font: var(--button-font-family);
  --mdc-outlined-button-label-text-size: var(--button-font-size);

  --mdc-outlined-button-container-height: var(--button-height);
  --mdc-outlined-button-container-shape: var(--button-shape);
  --mat-outlined-button-horizontal-padding: var(
    --outlined-button-horizontal-padding
  );

  --mat-outlined-button-state-layer-color: var(--pale-aqua);
  --mat-outlined-button-hover-state-layer-opacity: 0.3;

  --mdc-outlined-button-disabled-label-text-color: rgba(50, 80, 162, 0.4);
  --mdc-outlined-button-disabled-outline-color: rgba(50, 80, 162, 0.4);

  /*flat*/
  --mdc-filled-button-container-color: var(--violet-blue);
  --mdc-filled-button-label-text-color: var(--white);

  --mdc-filled-button-label-text-weight: var(--button-font-weight-bold);
  --mdc-filled-button-label-text-font: var(--button-font-family);
  --mdc-filled-button-label-text-size: var(--button-font-size);

  --mdc-filled-button-container-height: var(--button-height);
  --mdc-filled-button-container-shape: var(--button-shape);
  --mat-filled-button-horizontal-padding: var(--button-horizontal-padding);
  --mdc-filled-button-disabled-container-color: rgba(50, 80, 162, 0.25);
  --mdc-filled-button-disabled-label-text-color: rgba(50, 80, 162, 0.4);

  --mat-filled-button-state-layer-color: var(--marian-blue);
  --mat-filled-button-hover-state-layer-opacity: 1;

  /*icon*/
  --mdc-icon-button-icon-color: var(--squid-ink);
  --mdc-icon-button-disabled-icon-color: rgba(50, 80, 162, 0.4);

  /*FAB*/

  --mdc-fab-container-elevation-shadow: none;
  --mdc-fab-focus-container-elevation-shadow: none;
  --mdc-fab-hover-container-elevation-shadow: none;
  --mdc-fab-pressed-container-elevation-shadow: none;

  --mat-fab-disabled-state-foreground-color: rgba(50, 80, 162, 0.4);
  --mat-fab-disabled-state-container-color: rgba(50, 80, 162, 0.25);

  /*mini FAB*/
  --mdc-fab-small-container-elevation-shadow: none;
  --mdc-fab-small-focus-container-elevation-shadow: none;
  --mdc-fab-small-hover-container-elevation-shadow: none;
  --mdc-fab-small-pressed-container-elevation-shadow: none;

  --mat-fab-small-disabled-state-foreground-color: rgba(50, 80, 162, 0.4);
  --mat-fab-small-disabled-state-container-color: rgba(50, 80, 162, 0.25);

  /*extendedFAB*/
  --mdc-extended-fab-label-text-size: var(--button-font-size);
  --mdc-extended-fab-label-text-font: var(--button-font-family);
  --mdc-extended-fab-label-text-weight: var(--button-font-weight-bold);

  --mdc-extended-fab-container-shape: var(--button-shape);

  --mdc-extended-fab-container-elevation-shadow: none;
  --mdc-extended-fab-focus-container-elevation-shadow: none;
  --mdc-extended-fab-hover-container-elevation-shadow: none;
  --mdc-extended-fab-pressed-container-elevation-shadow: none;

  --mat-fab-disabled-state-foreground-color: rgba(50, 80, 162, 0.4);
  --mat-fab-disabled-state-container-color: rgba(50, 80, 162, 0.25);
}

.mat-mdc-raised-button {
  border: var(--violet-blue) 1px solid;
}

.mat-icon {
  font-weight: var(--button-font-weight-semi-bold);
  font-size: var(--button-icon-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-fab {
  max-width: var(--button-fab-size);
  max-height: var(--button-fab-size);

  --mdc-fab-container-shape: var(--button-shape);

  --mdc-fab-container-color: var(--lavender-mist);
  --mat-fab-foreground-color: var(--squid-ink);
}

.mat-mdc-mini-fab {
  --mdc-fab-small-container-shape: var(--button-shape);
  max-width: var(--button-mini-fab-size);
  max-height: var(--button-mini-fab-size);

  padding: 0 2px 5px;

  --mdc-fab-small-container-color: var(--lavender-mist);
  --mat-fab-small-foreground-color: var(--squid-ink);
}

.mat-mdc-extended-fab {
  --mdc-fab-container-color: var(--violet-blue);
  --mat-fab-foreground-color: var(--white);

  max-width: none;
  max-height: none;

  --mdc-extended-fab-container-height: var(--button-height);

  --mdc-fab-label-text-weight: var(--button-font-weight-bold);
  --mdc-fab-label-text-font: var(--button-font-family);
  --mdc-fab-label-text-size: var(--button-font-size);

  --mat-fab-state-layer-color: var(--marian-blue);
  --mat-fab-hover-state-layer-opacity: 1;
  padding-left: var(--button-horizontal-padding);
  padding-right: var(--button-horizontal-padding);
  padding-top: var(--button-vertical-padding);
  padding-bottom: var(--button-vertical-padding);
}
