<section>
  <div class="example-label">Basic tooltip</div>
  <button
    mat-stroked-button
    matTooltip="Info about the action"
    aria-label="Button that displays a tooltip when focused or hovered over"
  >
    Basic
  </button>
</section>

<section>
  <div class="example-label">Custom class</div>
  <button
    mat-stroked-button
    matTooltip="Info about the action"
    matTooltipClass="example-tooltip-uppercase"
    aria-label="Button that shows a red tooltip"
    class="example-button"
  >
    Basic
  </button>
</section>
