<section>
  <div class="example-label">
    Paginator internationalization (with hover states)
  </div>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">Paginator</div>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">Hide page size</div>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">Hide first/last buttons</div>
</section>

<mat-divider class="example-divider"></mat-divider>

<section>
  <div class="example-label">Disabled</div>
</section>

<mat-divider class="example-divider"></mat-divider>
