<section>
  <div class="example-label">Context menu.</div>
</section>

<mat-divider></mat-divider>

<section>
  <div class="example-label">Gmail inline menu.</div>
</section>

<mat-divider></mat-divider>

<section>
  <div class="example-label">Google Docs Menu Bar.</div>
</section>

<mat-divider></mat-divider>

<section>
  <div class="example-label">Nested context menus.</div>
</section>

<mat-divider></mat-divider>

<section>
  <div class="example-label">Menu with Standalone Trigger.</div>
</section>

<mat-divider></mat-divider>

<section>
  <div class="example-label">Stateful Menu with Standalone Trigger.</div>
</section>
