<div matBadge="1" matBadgeOverlap="false" class="demo-section">
  Text with a badge
</div>

<div matBadge="1" matBadgeSize="small" class="demo-section">
  Text with small badge
</div>
<div matBadge="211" matBadgeSize="large" class="demo-section">
  Text with large badge
</div>

<div class="demo-section">
  Button with a badge on the left
  <button mat-stroked-button matBadge="211" matBadgePosition="before">
    Basic
  </button>
</div>

<div class="demo-section">
  Button toggles badge visibility
  <button
    mat-stroked-button
    matBadge="211"
    [matBadgeHidden]="hidden"
    (click)="toggleBadgeVisibility()"
  >
    Basic
  </button>
</div>

<div class="demo-section">
  Icon with a badge
  <mat-icon matBadge="211">notifications_none</mat-icon>
  <!-- Include text description of the icon's meaning for screen-readers -->
  <span class="cdk-visually-hidden">
    Example with a home icon with overlaid badge showing the number 15
  </span>
</div>
