<section>
  <div matBadge="1" matBadgeOverlap="false">Text with a badge</div>
</section>

<section>
  <div matBadge="1" matBadgeSize="small">Text with small badge</div>
</section>

<section>
  <div matBadge="211" matBadgeOverlap="false" matBadgeSize="large">
    Text with large badge
  </div>
</section>

<section>
  <div class="demo-section">
    Button with a badge on the left
    <button mat-stroked-button matBadge="111" matBadgePosition="before">
      Basic
    </button>
  </div>
</section>

<section>
  <div class="demo-section">
    Button toggles badge visibility
    <button
      mat-stroked-button
      matBadge="222"
      [matBadgeHidden]="hidden"
      (click)="toggleBadgeVisibility()"
    >
      Basic
    </button>
  </div>
</section>

<section>
  <div class="demo-section">
    Icon with a badge
    <mat-icon matBadge="211">notifications_none</mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
  </div>
</section>
